{% extends 'base.html' %}

{% block content %}
<h3 class="text-center m-4">Reservation Successful</h3>
{% if success %}
<div class="alert alert-success" role="alert">
    New reservation added successfully.
    <a href="{% url 'home' %}" class="alert-link">Go to Homepage</a>
</div>
{% else %}
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card text-white bg-dark mb-3">
            <div class="card-header">Make Reservations</div>
            <div class="card-body">
                <form action="{% url 'book' %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_p}}
                    <button type="submit" class="btn btn-primary">Book</button>
                    <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}